@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fafafa;
    color: #171717;
  }

  button {
    transition-property: all;
    transition-duration: 200ms;
  }

  input,
  textarea,
  select {
    transition-property: color;
    transition-duration: 200ms;
  }
}
